
<!--COMPONENTE GENERICO QUE NOS PERMITE LLENAR CUALQUIER LISTA-->

@typeparam Titem 
<!-- que clase de articulos vamos a pintar, Titem significa que mi pagina esta disponible para recibir cualquier cosa -->
@if (MyList is null) //Si mi lista el nula
{
    @if(Loading is null) //me mando un nulo, entonces pinto el loading
    {
         <div class="align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Youtube_loading_symbol_1_(wobbly).gif">
        </div>
    }
    else //Si el usuario nos mando una definición de loading
    {
        @Loading
    }
} 
else if(MyList.Count == 0) //Si la lista no tiene registros
{
    @if(NoRecords is null)//Si el usuario me manda su propia definición
    {
        <div class="align-items-center">
            <p>No hay registros para mostrar</p>
        </div>
    }
    else
    {
        @NoRecords// Si mando la definición
    }

}
else
{
    @Body
}

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }// ? puede ser nulo, significa que le pasaremos un pedacito de código de blazor, si no nos manda un renderfragment, pintaremos nosotros el render

    [Parameter]
    public RenderFragment? NoRecords { get; set; }// Si no hay registros, es el pedacito cuando el usuario no nos manda registros

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;// Si va a hacer obligatorio

    [Parameter]
    [EditorRequired]
    public List<Titem> MyList { get; set; } = null!;//Lista de lo que yo quiera
}
