<h3>GenericList</h3>
<!--COMPONENTE GENERICO QUE NOS PERMITE LLENAR CUALQUIER LISTA-->

@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }// ? puede ser nulo, nos sirve para 

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment Body { get; set; } = null!;
}
